* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: $yellow;
  color: $black;
  overflow: hidden;
}

html {
  font-family: $montserrat;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  color: $black;
}
