* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  overflow: hidden;
}

html {
  font-family: 'Montserrat', sans-serif;
}

a {
  // color: #F8E61C;
  color: #9d9d9d;
}
